<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="resources/index.css" rel="stylesheet">
    <!-- <script src="libs/cash.min.js"></script>    
    <script src="libs/mustache.min.js"></script>     -->
    <title>CANtap v1</title>

    <script id="templateRaw" type="x-tmpl-mustache">
      <div class="tr {{trClass}}" data-pkt="{{json}}" {{#hide}}style="display: none"{{/hide}}>
        <div class="td colDir">{{#out}}&#x21E6;{{/out}}{{^out}}&#x21E8;{{/out}}</div>
        <div class="td colMillis colRaw">{{millis}}</div>
        <div class="td colId colRaw">0x{{id}}</div>
        <div class="td colRr colRaw">{{rr}}</div>
        <div class="td colDl colRaw">{{dl}}</div>
        <div class="td colData colRaw">
          <div class="resend">&#9850;</div>
          {{dataOut}}
        </div>
      </div>
  </script>

  <script id="templateDecoded" type="x-tmpl-mustache">
    <div class="tr {{trClass}}" data-pkt="{{json}}" {{#hide}}style="display: none"{{/hide}}>
      <div class="td colDir">{{#out}}&#x21E6;{{/out}}{{^out}}&#x21E8;{{/out}}</div>
      <div class="td colMillis colDecoded">{{seconds}}</div>
      <div class="td colId colDecoded">{{type}}</div>
      <div class="td colRr colDecoded">{{#rr}}&check;{{/rr}}</div>
      <div class="td colData colDecoded">
        <div class="resend">&#9850;</div>
        {{decoded}}
      </div>
    </div>
</script>
</head>
  <body>
    <div id="tableRaw">
      <div class="thead">
        <div class="colDir"></div>
        <div class="colMillis colRaw">Millis</div>
        <div class="colId colRaw">ID</div>
        <div class="colRr colRaw">RR</div>
        <div class="colDl colRaw">DL</div>
        <div class="colData colRaw">
          <button class="btnToggleView" data-decode="1">Decode</button>
          <div class="autoScroll">
            <label><input type="checkbox" value="1" checked class="autoScrollCB">Autoscroll</label>
            <label><input type="checkbox" value="1" class="filterCB">Filter</label>
            <button class="btnClear">Clear</button>
          </div>
          <span class="fillData">Data</span>
        </div>
      </div>
      <div class="tbody syncscroll" name="tbody" id="tableRaw_tbody"></div>
    </div>

    <div id="tableDecoded">
      <div class="thead">
        <div class="colDir"></div>
        <div class="colMillis colDecoded">Seconds</div>
        <div class="colId colDecoded">ID</div>
        <div class="colRr colDecoded">RR</div>
        <div class="colData colDecoded">
          <button class="btnToggleView" data-decode="0">Raw</button>
          <div class="autoScroll">
            <label><input type="checkbox" value="1" checked class="autoScrollCB">Autoscroll</label>
            <label><input type="checkbox" value="1" class="filterCB">Filter</label>
            <button class="btnClear">Clear</button>
          </div>
          <span class="fillData">Data</span>
        </div>
      </div>
      <div class="tbody syncscroll" name="tbody" id="tableDecoded_tbody"></div>
    </div>

    <div id="filterForm">
      Filter ID: 0x<input name="filterId" size="6" />
      Mask: 0x<input name="filterMask" size="6" />
      <button id="filterBtn">Apply</button>
    </div>

    <div id="sendForm">
      ID: <select name="id">
      </select>
      <label><input type="checkbox" name="rr" value="1">RR</label>
      Data: <input name="data" size="42">
      <button id="sendBtn">&#x140A; Send</button>
      <button id="b1Btn">&#x1405; B1</button>
      <button id="b2Btn">&#x1405; B2</button>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="resources/CAN_IDS.js"></script>
    <script src="resources/TS_GROUPS.js"></script>
    <script src="./decoder.js"></script>
    <script src="./renderer.js"></script>
  </body>
</html>
