body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input {
  text-transform: uppercase;
}

.thead {
  background-color: silver;
  border-bottom: 1px solid black;
  /* font-weight: bold; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  clear: both;
  user-select: none;
  height: 30px;
}

.thead > div {
  padding: 4px;
  float: left;
}

button.btnToggleView {
  position: absolute;
  right: 10px;
}

button.btnClear {
  margin-left: 20px;
}

div.autoScroll {
  position: absolute;
  right: 100px;
  cursor: pointer;
}

.tbody {
  overflow-x: clip;
  overflow-y: scroll;
  position: fixed;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 32px;
}

div.tr {
  border-bottom: 1px solid black;
}

div.tr:after {  /* clearing float */
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

div.td {
  padding: 4px;
  float: left;
}

div.colDir {
  text-align: center;
  width: 20px;
}

div.colMillis {
  text-align: right;
  width: 75px;
}

div.colId {
  text-align: left;
  width: 50px;
}

div.colId.colDecoded {
  width: 200px;
}

div.colRr, div.colDl {
  text-align: center;
  width: 40px;
}

div.colData {
  text-align: left;
}

div.resend {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#tableDecoded {
  display: none;
}

#filterForm {
  background-color: silver;
  border-top: 1px solid black;
  position: fixed;
  bottom: 33px;
  left: 0;
  right: 0;
  height: 24px;
  padding: 4px;
  user-select: none;
  display: none;
}

#sendForm {
  background-color: silver;
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  padding: 4px;
  user-select: none;
}

.CAT0 {
  background-color: rgb(255, 153, 153);
}

.CAT1 {
  background-color: rgb(153, 169, 255);
}

.CAT2 {
  background-color: rgb(153, 255, 165);
}

.CAT5 {
  background-color: rgb(254, 255, 153);
}

